# THIS ENV FILE IS REQUIRED FOR BATS TEST CONCURRENCY
# UNCOMMENT AND ADD PERSONAL ACCESS TOKENS

# export TOKEN_1=ADD_PERSONAL_ACCESS_TOKEN_HERE
# export TOKEN_2=ADD_PERSONAL_ACCESS_TOKEN2_HERE
# export TOKEN_1_IN_USE_BY=NONE
# export TOKEN_2_IN_USE_BY=NONE
