name: release
on:
  workflow_dispatch: null
  release:
    types: [ published ]
jobs:
  pypi-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Update system packages
        run: sudo apt-get update -y

      - name: Install make
        run: sudo apt-get install -y build-essential

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Python deps
        run: pip install wheel

      - name: Install package requirements
        run: make requirements

      - name: Build the package
        run: make build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LINODE_CLI_VERSION: ${{ github.event.release.tag_name }}

      - name: Publish the release artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@15c56dba361d8335944d31a2ecd17d700fc7bcbc # pin@release/v1.12.2
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
