name: Unit Tests
on:
  workflow_dispatch: null
  push:
  pull_request:
jobs:
  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v3

      - name: Update system packages
        run: sudo apt-get update -y

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Python wheel
        run: pip install wheel boto3 mock

      - name: Update cert
        run: pip install certifi -U

      - name: Install deps
        run: pip install -r requirements.txt -r requirements-dev.txt

      - name: Install Package
        run: make install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run the unit test suite
        run: make test
