name: Unit Tests
on:
  workflow_dispatch: null
  push:
  pull_request:
jobs:
  unit-tests-on-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v3

      - name: Update system packages
        run: sudo apt-get update -y

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'

      - name: Install Python wheel
        run: pip install wheel boto3

      - name: Update cert
        run: pip install certifi -U

      - name: Install deps
        run: pip install .[dev]

      - name: Install Package
        run: make install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run the unit test suite
        run: make test

  unit-tests-on-windows:
    runs-on: windows-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'

      - name: Install Python wheel
        run: pip install wheel boto3

      - name: Update cert
        run: pip install certifi -U

      - name: Install deps
        run: pip install .[dev]

      - name: Install Package
        shell: pwsh
        run: |
          make install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run the unit test suite
        run: make test
